* {
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#collapsable-nav ul{
    background-color: #fff5ee;
	border: 1px;
	color:black;
}
section {
    background-color: #999999;
    border: 1px solid #000000;
    margin: 0 0 25px 0;
    padding: 0;
    height:1000px;
}
h1 {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
